@model AWDProjectFinal.ViewModels.ApartmentsViewModel.ApartmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>รายละเอียด</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <div class="center">
                <img src="@("~/images/"+Model.Image)" width="30%" height="30%" asp-append-version=true class="center"/>
             </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
