@model IEnumerable<AWDProjectFinal.ViewModels.ApartmentsViewModel.ApartmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>รายการหอพัก</h1>
<br />
<div class="d-flex flex-row">
    <div class="search-bar">
        
         <form class="search-form d-flex align-items-center" asp-controller="Apartments" asp-action="Index" method="get">
             <input type="text" name="search" placeholder="Search" title="Enter search keyword">
             <button type="submit" title="Search">Search</button>
         </form>
    </div>
</div>
<br />

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
    
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id })
                 @Html.ActionLink("Details", "Details", new { id=item.Id }) 
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id}, new { onclick = "return confirm('Are sure wants to delete?');" })

            </td>
        </tr>
}
    </tbody>
</table>
