@model IEnumerable<AWDProjectFinal.Models.ApartmentModel>

<table class="table">
    <thead>
        <td>
            @Html.DisplayNameFor(m=>m.Id)
        </td>
        <td>
            @Html.DisplayNameFor(m=>m.Name)
        </td>
        <td>
            @Html.DisplayNameFor(m=>m.Address)
        </td>
        <td>
            @Html.DisplayNameFor(m=>m.ApartmentType)
        </td>
        <td>
            @Html.DisplayNameFor(m=>m.AmountRoom)
        </td>
        <td>
            @Html.DisplayNameFor(m=>m.Owner)
        </td>
        <td>
            Link
        </td>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.Address)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.ApartmentType)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.AmountRoom)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.Owner)
                </td>
            </tr>
        }

    </tbody>
</table>